@model OnlineShop.Web.Models.ViewModels.ShoppingCartIndexVM

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h1 class="text-center">Shopping Cart</h1>
<hr />
<div class="container">
	<h4>Count: @Model.Count</h4>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Image</th>
				<th>Title</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>TotalPrice</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Items)
			{
				<tr>
					<td><img class="card-img-top" src="@Context.Request.PathBase/content/images/@Url.Content(string.IsNullOrWhiteSpace(item.ImageUrl) ? "default.jpg" : item.ImageUrl)" style="width: 100px;"></td>
					<td>@item.Title</td>
					<td>@item.Price</td>
					<td>@item.Quantity</td>
					<td>@item.TotalPrice</td>
					<td>
						<a asp-action="RemoveItem" asp-route-id="@item.ProductId" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4" class="text-right">Total:</td>
				<td class="text-right">
					@Model.TotalPrice.ToString("c")
				</td>
				@if(Model.Count > 0)
				{
					<td><a asp-controller="Order" asp-action="Checkout" class="btn btn-primary btn-block">Checkout</a></td>
				}
			</tr>
		</tfoot>
	</table>
</div>
