@model OnlineShop.Web.Models.ViewModels.ProductIndexVM

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="container my-4">
	@* ======= Search Input ======= *@
	<form>
		<div class="row justify-content-center">
			<input asp-for="@Model.Options.Options.SearchText" name="SearchText" class="form-control col-md-10" placeholder="Search by title and description">
			<button type="submit" class="btn btn-primary col-md-1 ml-2">Search</button>
		</div>
	</form>
</div>

<div class="mb-5">
	<form class="form-inline justify-content-center align-items-end">

		@* ======= Sort By ======= *@
		<div class="form-group mx-2">
			<div>
				<label class="control-label">Sort By</label>
				<select asp-for="@Model.Options.Options.OrderBy" name="OrderBy"
						asp-items="Html.GetEnumSelectList<OnlineShop.Services.ProductServices.QueryExtensions.ProductOrderBy>()"
						class="form-control"></select>
			</div>
		</div>

		@* ======= Filter By ======= *@
		<div class="form-group mx-2">
			<div>
				<label class="control-label">Filter By</label>
				<select asp-for="@Model.Options.Options.FilterBy" name="FilterBy"
						asp-items="Html.GetEnumSelectList<OnlineShop.Services.ProductServices.QueryExtensions.ProductFilterBy>()"
						class="form-control"></select>
			</div>
		</div>

		@* ======= Min Price ======= *@
		<div class="form-group mx-2">
			<div>
				<label class="control-label">Min price</label>
				<input asp-for="@Model.Options.Options.MinPrice" name="MinPrice" class="form-control">
			</div>
		</div>

		@* ======= Max Price ======= *@
		<div class="form-group row mx-2">
			<div>
				<label class="control-label">Max price</label>
				<input asp-for="@Model.Options.Options.MaxPrice" name="MaxPrice" class="form-control">
			</div>
		</div>

		@* ======= Page size ======= *@
		<div class="form-group mx-2">
			<div>
				<label class="control-label">Page&nbsp;Size</label>
				<select asp-for="@Model.Options.Options.PageSize" name="PageSize"
						asp-items="Model.Options.Options.PageSizes.Select(x => new SelectListItem {Text = x.ToString(), Value = x.ToString()})"
						class="form-control"></select>
			</div>
		</div>

		<input id="CurrentPage" name="CurrentPage" type="hidden" value=@Model.Options.Options.CurrentPage>
		<input id="PreviousState" name="PreviousState" type="hidden" value=@Model.Options.Options.PreviousState>
		<button type="submit" class="btn btn-primary">Update</button>
	</form>
</div>

<div class="container">
	<div class="row">
		@* ======= Categories and Subcategories ======= *@
		<div class="col-md-2 mx-0">
			<div>
				@await Component.InvokeAsync("CategoriesMenu")
			</div>
		</div>
		<div class="col-md-10">
			<div class="container">
				<!-- ======= Pagination ======= -->
				<div paging-information="@Model.PagingInformation" page-action="Index" ul-classes="justify-content-center" class="mx-auto mb-5"></div>

				@* ======= Products List ======= *@
				@if (Model.Options.Products.Any())
				{
					<div class="row mx-4">
						@* ======= Product ======= *@
						@foreach (var product in Model.Options.Products)
						{
							<div class="col-md-3">
								<div class="card">
									@*<img class="card-img-top" src="@Context.Request.PathBase/content/images/@product.ImageUrl">*@

									<div class="card-body">
										<p class="small">@product.Price <em class="text-warning">@product.PromotionMessage</em></p>
										<h5 class="card-title">@product.Title</h5>
										<p class="card-text">@product.ShortDescription</p>
										<p class="text-center">
											<a href="#" class="btn btn-primary">Show more</a>
										</p>
									</div>
									<div class="card-footer">
										<form class="form-inline align-items-end">
											
										</form>
									</div>
								</div>
							</div>
						}
					</div>
				}
				else
				{
					<div class="jumbotron jumbotron-fluid">
						<div class="container text-center">
							<h1 class="display-4"><i class="far fa-frown"></i> Sorry...</h1>
							<p class="lead">We can't find products with such filters.</p>
						</div>
					</div>
				}
				<!-- ======= Pagination ======= -->
				<div paging-information="@Model.PagingInformation" page-action="Index" ul-classes="justify-content-center" class="mx-auto mt-5"></div>
			</div>
		</div>
	</div>
</div>

